.like-btn {
  display: flex;
  background-image: url("../../images/like-btn-white.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 22px;
  height: 19px;
  background-color: white;
  border: none;
  padding: 0;
  margin-bottom: 3px;
  opacity: 1;
  transition: .5s;
  cursor: pointer;
}

.like-btn:hover {
  opacity: .5;
}